{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Management System</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  </head>
  <body class="flex flex-col  min-vh-screen">
    <nav class="flex flex-col">
      <div class="bg-slate-100 flex justify-center p-3 items-center">
        <a class="navbar-brand" href="{% url 'index' %}">
          <i class="">Student Management System</i> 
        </a>
      </div>
      <div class="fixed flex flex-col gap-2 bottom-5 right-5">
        <a href="{% url 'index' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">
          <i class="fa-solid fa-list fa-lg">All Students</i> 
        </a>
        <a href="{% url 'add' %}" class="bg-green-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">
          <i class="">Add Student</i> 
        </a>
      </div>


    </nav>
    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="mt-auto mb-4">
      <div class="text-center">
        <span>
          Copyright &copy; <script>document.write(new Date().getFullYear())</script> Afsa Tech corp.
        </span>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>